
    +-----------------------------+
    |           Cluster           |
    |-----------------------------|
    |                             |
    |    +-------------------+    |
    |    |      Namespace    |    |
    |    |-------------------|    |
    |    |       default     |    |
    |    +-------------------+    |
    |        |          |         |
    |   +----+---+  +---+----+    |
    |   | Pod    |  | Pod    |    |
    |   +--------+  +--------+    |
    |   | Config |  | Secret |    | 
    |   +--------+  +--------+    |
    |   | Service|  | Service|    |
    |   +--------+  +--------+    |
    |                             |
    +-----------------------------+

